<!DOCTYPE HTML>
<html>
    <head>
        <title>SixWord.It</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="container">
        	<div>
        	<div class="logo">
<img src="../img/logotrans.png"/>
<hr/>
</div>

<h1>Six words can tell a story.</h1>
<div class="menu">About Us</div>

</div>
            <%- body %>
        </div>

        <!-- JavaScript at the bottom for fast page loading -->
        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>