 body {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 200px;
    margin-right: 200px;
    padding:0;
    
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:normal;
    color: #085476;
    background-color:   #BACECC
    }
    
h1,h2,h3{
    margin-top: 10px;
    padding: 0;
    font-weight: bold;
    color: #085476;
}

h1{
	
	font: Georgia, serif;
    font-size: 36px;
    
}

h2{
	font-family: Helvetica, Arial, sans-serif;
    font-size: 26px;
}

h3{
	font: Georgia, serif;
    font-size: 22px;
	-webkit-margin-after: 0em;
}

p,ul{
    margin-top:0;
    text-align: left;
    line-height: 180%;
}
#top{
    border-width: 50px,100px,50px,100px;
    margin-top: 10;
    padding: 50;
    margin-left: 50;
    margin-right: 50;
    margin-bottom: 10;
    text-align: left;
    background: white;
}
#skill{
    background: gray;
}

hr {
  color: #085476;
  background-color: #085476;
  height: 2px;
}