<form class="form-horizontal" method="POST" action="/addpic">
    <fieldset>
        <legend>Add a Picture</legend>
        
        <div class="control-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input type="text" class="input-medium" name="url" id="url">
            </div>
        </div>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save entry</button>
            <button class="btn">Cancel</button>
        </div>
    </fieldset>
</form>

